
body{
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
    background-color: #f3f3f3;
    font-family:Microsoft JhengHei;
}

#doSomethingBlock{
	margin: 0 auto;
	padding: 0;
	top: 0;
	left: 0;
	position: relative;
}

#doSomethingBlock header{
	width: 100vw;
	height: 10vh;
	top: 0;
	left: 0;
	position: relative;
	z-index: 999;
	background: #282828;
	background: -webkit-linear-gradient(to top, #181818, #505050);
	background: linear-gradient(to top, #181818, #505050);
}

#doSomethingBlock header img{
    margin-left: 15px;
}

#doSomethingBlock header div{
	width: 100%;
	height: 90%;
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;
}

#doSomethingBlock header div h1{
	color: white;
    font-family: 'Days One';
}

#doSomethingBlockMenuButton{
	margin-right: 15px;
	top: 10px;
	right: 20px;
	position: absolute;

	text-decoration:none;
	color: #FFF;
}

#doSomethingBlockLoginButton{
	margin-right: 15px;
	top: 10px;
	right: 20px;
	position: absolute;

	text-decoration:none;
	color: #FFF;
}

#doSomethingBlockBanner{
	width: 100vw;
	height: 45vh;
	position: relative;
}

#doSomethingBlockBannerBody{
	width: 100vw;
	height: 45vh;
}

#doSomethingBlockBannerBody img{
    width:  100%;
    height: 100%;
    top:  0;
    left: 0;
}

#doSomethingBlockBody{
	margin: 20px auto;
	margin-top: 5vh;
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#doSomethingBlockBody div{
	margin: 1%;
	max-width: 500px;
	max-height: 500px;
	width: 48%;
	float: left;
	position: relative;
}

#doSomethingBlockBody div div{
	width: 70%;
	bottom: 20px;
	left: 15%;
	position: absolute;
	color: #9b4949;
	font-size: 3vh;
  	background-color:rgba(255, 255, 255, 0.4);
  	border:2px #ccc solid;
  	border-radius: 10px;
}

/*Menu 內部 大頭照*/
#MenuUserImg{
	margin: 10px auto;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-size: 100%;
}

#MenuMemberInfo{
	margin: 15px;
	font-size: 12pt;
}

#backGatePage{
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 9999;
}
