.panel{
    margin-bottom: 10px;
}
#Banner{
    margin: 0 auto;
    height: 35vh;

    max-height: 800px;
    max-width: 800px;
}

#Banner img{
    height: 100%;
    width: 100%;
}

#doSomethingBlockBanner{
    width: 100%;
    height: 35vh;
    position: relative;
}

#doSomethingBlockBannerBody{
    width: 100%;
    height: 35vh;
}

#doSomethingBlockBannerBody img{
    width:  100%;
    height: 100%;
    top:  0;
    left: 0;
}

#doSomethingBlockBody{
    margin: 20px auto;
    margin-top: 5vh;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#doSomethingBlockBody div{
    margin: 1%;
    max-width: 500px;
    max-height: 500px;
    width: 48%;
    float: left;
    position: relative;
}

#doSomethingBlockBody div div{
    width: 70%;
    bottom: 20px;
    left: 15%;
    position: absolute;
    color: #9b4949;
    font-size: 3vh;
    background-color:rgba(255, 255, 255, 0.4);
    border:2px #ccc solid;
    border-radius: 10px;
}

.popular-search-div{
    margin: 0 auto;
    font-size: 14pt;
    font-family: 'Days One';

    width: 100%;
    position: relative;
}

.popular-search a{
    margin: 0 2px;
    height: 35vh;
}

.popular-search a img{
    height: 80%;
}

.popular-search-div .popular{
    /*margin-left: 20px;*/
}

.popular-search-div .see-more{
    font-size: 10pt;
    /*float: right;*/
    position: absolute;
    bottom: 0px;
    right: 0px;
}