#Banner{
	margin: 0 auto;

	max-height: 600px;
	max-width: 600px;
}

#Banner img{
	height: 100%;
	width: 100%;
}

#DetailPrice, #DetailTransport{
	font-size: 15px;
}

#DetailPoints{
	font-size: 30px;
	color: red;
}

#DetailDetail, #DetailNorm, #DetailMemo{
	padding: 10px;
}