html,body{
	background:#F0F0F0;
	font-size: 100%;
	font-family: 'Roboto-Regular';
}

/*----*/

.popular{
	display: table-cell;
	vertical-align: middle;
	color: rgba(0,0,0,0.54);
}

.see-more{
	display: table-cell;
	vertical-align: middle;
	color: #FF0000;
	white-space: nowrap;
	float:right;
}

.popular-search-div{
	background-color: #FFFFFF; 
  margin-top: 8px;
}

.popular-search{
	background-color: #FFFFFF; 
}

.popular-items-div{
	background-color: #FFFFFF; 
  margin-top: 8px;
}

.popular-items{
	background-color: #FFFFFF; 
}

.content{
	background-color: #FFFFFF; 
  margin-top: 8px;
}
