.checkBlock{
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.uncheckBlock{
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.addItem{
    cursor: pointer;
}

.mnsItem{
    cursor: pointer;
}
