#Banner{
	margin: 0 auto;
	height: 45vh;

	max-height: 800px;
	max-width: 800px;
}

#Banner img{
	height: 100%;
	width: 100%;
}

.popular-search-div{
	margin: 0 auto;
	font-size: 14pt;
	font-family: 'Days One';

	width: 100%;
	position: relative;
}

.popular-search a{
	margin: 0 2px;
	height: 35vh;
}

.popular-search a img{
	height: 80%;
}

.popular-search-div .popular{
	margin-left: 20px;
}

.popular-search-div .see-more{
	font-size: 10pt;
	float: right;
}

